* {
    box-sizing: border-box;
}
body {
    font-family: "Berlin Sans FB";
}
h2 {
    background-color: brown;
    display: block;
    position: relative;
    margin-top: 0px;
    float: right;
    text-align: center;
    width: 30%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.pink {
    background-color: lightpink;
}
.red {
    color: white;
}
.yellow {
    background-color: gold;
}
.mainheader {
    width: 100%;
}
p {
    clear: both;
    padding: 2%;
}
.innerdiv {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    background-color: darkgray;
    border: 2px solid black;
    clear: right;
    margin-top: 10px;
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.section {
    width: 100%;
}
@media (min-width: 992px) {
    .col-lg-4{
        width: 33.33%;
        float: left
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
        position: relative;
    }
    .col-md-12 {
        margin-top: 15px;
        clear: both;
        float: right;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .col-md-12 .innerdiv {
        width: 97%;
    }
}