body {
    font-family: 'Raleway', sans-serif !important;
}
#navbar-menu {
    margin: 30px 130px 30px 70px;
    background-color: inherit;
    border: none;
}
.navbar-brand span.brand-name-header{

    font-size: 29px;
}
.navbar-brand {
    display: flex;
    align-items: center !important;
}

.brand-name-header {
    margin-left: 10px;
}
#menu-items li a{
    color: #495254;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    align-items: center !important;
}
#menu-items li #get-quote{
    background-color: #47AEE1;
    border-radius: 30px;
    color: white;
    margin-right: unset;
    width: 100%;
    text-align: center;
}
.h1-tag-text {
    margin-top: 10%;
}
h1 {
    font-size: 45px;
    margin-bottom: 25px;
}
h1 span{
    color: #47AEE1;
    font-weight: bold;
}
.h1-tag-text button {
    background-color: #47AEE1;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;
    margin-top: 15px;
}
.h1-tag-text button a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
.glyphicon-arrow-right {
    margin-right: 10px;
}